# Directories
/.cache
/.data
/.git
/.github
/.idea
/.nitro
/.output
/dist
/node_modules

# Files
/.dockerignore
/.env
/.env.example
/.gitignore
/.prettierignore
/.prettierrc.json
/Dockerfile
/README.md
/eslint.config.mjs
